<GridLayout width="300">
  <StackLayout class="p-20">
    <Label text="Map Styles" class="m-b-10"></Label>
    <StackLayout>
      <Button
        text="Mapbox Streets"
        class="-primary"
        (tap)="setStyle(MapStyle.MAPBOX_STREETS)"
      ></Button>
      <Button
        text="Dark"
        class="-primary"
        (tap)="setStyle(MapStyle.DARK)"
      ></Button>
      <Button
        text="Light"
        class="-primary"
        (tap)="setStyle(MapStyle.LIGHT)"
      ></Button>
      <Button
        text="Outdoors"
        class="-primary"
        (tap)="setStyle(MapStyle.OUTDOORS)"
      ></Button>
      <Button
        text="Satellite"
        class="-primary"
        (tap)="setStyle(MapStyle.SATELLITE)"
      ></Button>
      <Button
        text="Satellite Streets"
        class="-primary"
        (tap)="setStyle(MapStyle.SATELLITE_STREETS)"
      ></Button>
    </StackLayout>
  </StackLayout>
</GridLayout>
