<StackLayout width="100%">
  <AbsoluteLayout width="100%" height="50">
    <StackLayout orientation="horizontal" width="100%" height="100%">
      <Label text="Layers" fontSize="24" left="50%" top="0" width="100%" textAlignment="center" verticalAlignment="center"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal" height="100%" width="50" (tap)="goBack()">
      <Image src="~/images/arrow_back.png" class="m-l-5" height="30" verticalAlignment="center"></Image>
    </StackLayout>
  </AbsoluteLayout>
  <StackLayout class="hr"></StackLayout>
  <StackLayout class="p-20">
    <StackLayout>
      <Button text="Filter" class="-primary" (tap)="filter()"></Button>
      <Button
        [text]="!mapService.heatmapLayer ? 'Add Heatmap Layer' : 'Remove Heatmap Layer'"
        [ngClass]="{ '-primary': !mapService.heatmapLayer, '-danger': mapService.heatmapLayer }"
        (tap)="!mapService.heatmapLayer ? addHeatmapLayer() : removeHeatmapLayer()"
      ></Button>
      <Button
        [text]="!mapService.symbolLayer ? 'Add Symbol Layer' : 'Remove Symbol Layer'"
        [ngClass]="{ '-primary': !mapService.symbolLayer, '-danger': mapService.symbolLayer }"
        (tap)="!mapService.symbolLayer ? addSymbolLayer() : removeSymbolLayer()"
      ></Button>
    </StackLayout>
  </StackLayout>
</StackLayout>
