/* Add mobile styles for the component here.  */
$fab-size: 50;
$fab-margin: 10;

.fab-button {
  height: $fab-size;
  width: $fab-size;
  margin: $fab-margin;
  background-color: #ffffff;
  vertical-align: top;
  horizontal-align: left;
}

.location {
  $button-index: 1;
  margin-top: ($fab-size * $button-index) + ($fab-margin * ($button-index + 1));
}

.styles {
  $button-index: 2;
  margin-top: ($fab-size * $button-index) + ($fab-margin * ($button-index + 1));
}

.layers {
  $button-index: 3;
  margin-top: ($fab-size * $button-index) + ($fab-margin * ($button-index + 1));
}

.offline {
  $button-index: 4;
  margin-top: ($fab-size * $button-index) + ($fab-margin * ($button-index + 1));
}
